/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.indexnavbar {
  background-color:grey;
  justify-content:space-between;
  }
 
  #collapsibleNavbar {
   
   
  }
 
   
  .supreme {
   padding:3px;
   background-color:red;
   color:white;
  }
 
  .indexSearch {
   display:none;
   transition-duration:0.5s;
  }
 
  .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
  }
 
  .indexcolumn1 {
   height:700px;
  }
 
  
  .indexfooter {
   background-color:dimgrey;
  }

#root {
  font-weight:600;
  font-style: italic;
  font-size:18px;
}

#root2 {
  font-weight:600;
  font-style: italic;
  font-size:18px;
  position: absolute;
  top:0px;
  left:290px;
}

#clock {
  position:relative;
  left:800px;
  top:-135px;
}

.form {
  position:relative;
  top:0px;
  left:25px;
}

.butt {
  position:relative;
  left:45px;
  top:-10px;
  width:59px;
  padding:2px;
  background-color:green;
  border:1px groove darkgreen;
  border-radius:3px;
  color:white;
  font-weight:600;
  opacity:0.7;
  outline:none !important;
}

.butt:hover {
  cursor:pointer;
  opacity:1;
}

#greeting {
  position: absolute;;
  top:280px;
  left:5px;
}

#pinga {
position: relative;
top:-55px;
left:180px;
}

.addbutt {
  position:relative;
  top:-40px;
  left:350px;
  background-color:blue;
  border:1px groove darkblue;
  border-radius:3px;
  outline:none !important;
  color:white;
  padding:2px;
  width:40px;
  opacity:0.7;
}

.addbutt:hover {
  cursor:pointer;
  opacity:1;
}

#numbers {
  position:absolute;
  left:600px;
  top:5px;
}

#testInput {
  position:absolute;
  top:300px;
  left:800px; 
}

#Euro {
  position:absolute;
  top:400px;
  left:5px;
}
 #animation {
  outline:1px groove grey;
  border:1px groove black;
  width:50px;
  height:50px;
  position:absolute;
  top:300px;
  left:10px;
  animation-name:square;
  animation-delay:0s;
  animation-duration:5s;
  animation-iteration-count:infinite;
  animation-fill-mode: initial;
  animation-timing-function: ease;
  animation-play-state: running;
}

@keyframes square {
0% {left:10px;background-color:black;top:300px;transform:rotate(0deg)};
5% {left:20px;background-color:darkslategrey;top:300px;transform:rotate(20deg)};
10% {left:30px;background-color:grey;top}
100% {left:100px;};
} 

#binary {
  z-index:999;
  position:absolute;
  top:100px;
  left:550px;
  justify-content:space-between;
}

#butt {
  margin:5px;
  outline: none !important;
  border:none !important;
}

#number {
  z-index:999;
  position:absolute;
  top:20px;
  left:550px;
  color:white;
}     */

body {
  margin:none;
  padding:none;
  background-color:black;
  animation-name:bodyColor;
  animation-delay:4s;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}

@keyframes bodyColor {
  0%{background-color:black};
  10%{background-color:rgb(44, 1, 1)}
  20%{background-color:rgb(66, 9, 9)}
  30%{background-color:rgb(95, 3, 3)}
  40%{background-color:rgb(102, 0, 0)}
  50%{background-color:rgb(114, 12, 12)}
  60%{background-color:rgb(112, 11, 11)}
  70%{background-color:rgb(122, 12, 12)}
  80%{background-color:rgb(133, 4, 4)}
  90%{background-color:rgb(134, 6, 6)}
  100%{background-color:rgb(153, 0, 0)}
}


#cardDiv {
  z-index:999;
  position:absolute;
  top:100px;
  left:550px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  vertical-align:center;
}

#cardId {
  display:flex;
  flex-direction:row;
  justify-content:center;
  padding-bottom:-10px;
}

#cardId:hover {
  cursor:not-allowed;
}

#slow-spin{
  animation:fa-spin 8s infinite linear;
}

#cardInput:focus {
  outline:2px rgb(165, 0, 0) groove;
}

#cardText {
  align-content:center;
  justify-content: center;
  font-family:cursive;
  font-weight:600;
  font-size:20px;
}

#dontText {
  font-family:fantasy;
  font-weight:900;
  font-size:6px;
  margin-bottom:none;
  display:flex;
  justify-content:space-between;
}

#neverId {
  color:rgb(172, 10, 10);
}

#challengeOne {
  z-index:999;
  position:absolute;
  top:20px;
  left:920px;
}

#time {
  z-index:100;
  position: absolute;
  top: 20px;
  left: 50px;
  color: black;
  font-size: 80px;
}

#canvas {
  z-index:1;
  position:absolute;
}




 /* #rubiksCube {
   height:840px;
   width:633px;
   position:absolute;
   top:5px;
   left:280px;
   border: 2px groove black; 
   z-index:100;
   display:grid;
  grid-template-columns: auto auto auto auto;
   grid-gap: 2px;
   transform-style: preserve-3d 
  
 }

.side {
  height:209px;
  width:210;
  z-index:100;
  display:row;
} */

#buttons {
  position:absolute;
  top:450px;
  display: grid;
  grid-template-columns: auto auto auto;
  z-index:100;
  margin-top: 30px;
  border-top: 1.5px groove grey;
  border-right: 1.5px groove grey;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 10px;
  height:342px;
}

.rubiksRow {
  z-index: 100;
  display:flex;
  flex-direction:row;
  width:210px;
  height:70px;
}


.RubiksElement {
  width:70px;
  /*height:69px;*/
  border:1px groove black;
  z-index: 100;
  transition:1s
}

.rubiksButton {
  outline: none !important;
} 


  #moves {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2px;
  }

 #otherButtons {
   margin-left: 500px;;
 }

#wrap {
   position:absolute; 
  top:200px;
  left:400px; 
  perspective: 800px;
  perspective-origin: 50% 100px;
  z-index:100;
}

#rubiksCube {
  /* display:grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2px; */
  position:relative;
  /*height:840px; */
  margin: 0 auto;
  /*width: 210px; */
  -webkit-transform-style: preserve-3d;
  z-index: 100;
  transition: 2s;
  transform-origin: 0 100px;
}

.Side {
  position: absolute;
  width: 210px;
  height:210px;
  display:row !important;
  z-index:100;
}

#BackSide {
  transform: translateZ(-100px) rotateY(180deg)
}

#RightSide {
  transform: rotateY(-270deg) translateX(100px);
  -webkit-transform-origin:top right;
}

#LeftSide {
  transform:rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}

#UpSide {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin:top center;
}

#FrontSide {
  transform: translateZ(110px)
}

#DownSide {
  transform:rotateX(-90deg) translateY(100px);
  transform-origin: bottom center;
}