  .indexnavbar {
   background-color:grey;
   justify-content:space-between;
  }
  
  .supreme {
    padding:3px;
    background-color:red;
    color:white;
  }
  
  .indexSearch {
    display:none;
    transition-duration:0.5s;
  }
  
  .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
  }


  .indexcolumn1 {
    background-image:url("/images/test.jpeg");
    object-fit: cover;
    height:650px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  #create {
    align-content: center;
    width:400px;
    padding:10px;
  }

  #submitButton {
    margin-top:9px;
  }

  #crelab {
  text-align: center;
  font-weight: 700;
  font-size:20px;
 }

 .indexfooter {
    background-color:dimgrey;
  }