
#header{
background-color:dimgrey;
height:90px;
width:100%;
position:absolute;
top:0px;
left:0px;
}

.indexnavbar {
  position:absolute;
  left:0px;
  top:90px;
  width:100%;
}

.indexcolumns {
  position:absolute;
  width:100%;
  left:0px;
  top:158px;
}

.indexcolumn1 {
  margin:none;
}

.indexlinks {
  display:inline-block;
}

/* .indexcolumn2 {
} */