 .indexnavbar {
 background-color:grey;
 justify-content:space-between;
 }

 #collapsibleNavbar {
  
  
 }

  
 .supreme {
  padding:3px;
  background-color:red;
  color:white;
 }

 .indexSearch {
  display:none;
  transition-duration:0.5s;
 }

 .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
 }

 .indexcolumn1 {
  height:700px;
 }

 
 .indexfooter {
  background-color:dimgrey;
 }